@charset "utf-8";

#page {
    overflow-x: auto;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: calibri light;
}

/* Nav Coding */
nav {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    position: fixed;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 15px 15px;
    font-family: calibri light;
    display: flex;
}

nav > div:first-child {
    width: 50%;
}

nav > div:first-child h4 {
    margin: 0;
    padding: 0;
}

nav > div:last-child {
    width: 50%;
    text-align: right;
}

nav > div:last-child > span {
    cursor: pointer;
    color: rgba(204, 204, 204, 0.74);
    transition: 0.5s;
}
/* End Nav Coding */

/* Slider Coding */
.slider {
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: #111111;
    height: 100vh;
    min-height: 200px;
    color: rgba(255, 255, 255, 0.479);
    transition: 0.5s;
}

.slider i {
    margin-top: 10px;
    margin-left: 90%;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.slider ul {
    margin-top: 30px;
    padding: 0 30px;
    list-style: none;
} 

.slider hr {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.418);
}

.slider a {
    display: block;
    padding: 8px 0;
    font-size: 18px;
    color: inherit;
    text-decoration: none;
    font-family: calibri light;
    transition: 0.5s;
}

.slider a:hover,.slider i:hover,nav > div:last-child > span:hover {
    color: white;
}
/* End Slider Coding */

/* Header Coding */
header {
    -webkit-display: flex;
    display: flex;
    background-image: linear-gradient(140deg, #7B171E,#111111 70%);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: sans-serif;
    padding: 3% 0;
}

.content {
    width: 690px;
    font-family: calibri light;
}

.content h1 {
    font-size: 58px;
    transition: 2s;
    opacity: 0;
    font-weight: normal;
}

.content p {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.521);
    line-height: 35px;
    transition: 2s;
    opacity: 0;
}
/* End Header Coding */

/* Section Coding */
.mb-3 {
    margin-bottom: 30px;
}

.mb-2 {
    margin-bottom: 20px;
}

.row {
    display: flex;
}

.flex-fill {
    flex-grow: 1;
}

.grid {
    border: 1px solid red;
}

section {
    padding: 7% 0;
    display: flex;
    justify-content: center;
}

.sec-content {
    width: 1100px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.024) 0px 0px 4px 1px;
    border-radius: 4px;
}

.sec-left,.sec-right {
    padding-left: 4%;
    width: 50%;
}

.sec-right {
    padding-left: 3%;
    padding-right: 10px;
}

.text > span,
.lists > span,
.icons > span,
.actions > span,
.quotes span,
.tables > span,
.tables > h3,
.buttons > span,
.span-s  {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.575);
    font-weight: normal;
}

.text p {
    color: rgba(0, 0, 0, 0.808);
    font-size: 18px;
    line-height: 30px;
}

.text code {
    background-color: rgba(68, 68, 68, 0.103);
    border: 1px solid rgb(173, 173, 173);
    padding: 4px 8px;
    border-radius: 4px;
    font-family: courier new;
    font-size: 14px;
}

.text a {
    color: red;
}

.text a:hover {
    text-decoration: none;
}

.headers h2,.headers h3,.headers h4,.headers h5,.headers h6 {
    color: #555555;
    font-weight: normal;
}

.sec-left > p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.747);
}

.list-flexed {
    display: flex;
    justify-content: space-between;
}

.list-flexed h3,.definitions > h3 {
    color: #555555;
    font-weight: normal;
}

.list-flexed div {
    width: 47%;
}

.list-flexed div:last-child {
    width: 49%;
}

.list-flexed ul {
    list-style: disc;
    padding-left: 18px;
}

.list-flexed ul:last-child {
    list-style: none;
    padding-left: 0;
}

.list-flexed > div ul > li {
    color: #555555;
    font-size: 17px;
    line-height: 28px;
}

.list-flexed > div ol > li {
    color: #555555;
    font-size: 17px;
}

.def-under h3,.def-under p {
    color: #555555;
}

.def-under p {
    font-size: 18px;
    line-height: 25px;
    padding-left: 20px;
}

.icon {
    margin-top: 20px;
    color: #ce1b28;
    font-size: 30px;
}

.icon i {
    width: 40px;
    text-align: center;
}

.default {
    width: 102px;
    display: inline-block;
    padding: 0 25px;
    background-color: #ce1b28;
    border: 1px solid #ce1b28;
    border-radius: 4px;
    height: 47px;
    font-size: 16px;
    font-family: arial;
    line-height: 47px;
    margin-right: 15px;
    color: white;
    text-align: center;
}

.actions a,.buttons a {
    text-decoration: none;
}

.default:hover {
    background-color: #e2212f;
}

.default-gray {
    display: inline-block;
    padding: 0 25px;
    border-radius: 4px;
    height: 47px;
    font-size: 16px;
    font-family: arial;
    margin-right: 15px;
    line-height: 47px;
    color: #555555;
    border: 1px solid #555555;
    background-color: white;
    text-align: center;
}

.default-gray:hover {
    border: 1px solid #ce1b28;
    color: #ce1b28 !important;
}

.small {
    padding: 0 18px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    width: 68px;
    text-align: center;
}

.new-default,.new-small {
    width: 88px;
}

.block-con {
    border-left: 10px solid #ccc;
}

blockquote {
    display: block;
    font-style: italic;
    color: rgba(0, 0, 0, 0.788);
    font-size: 18px;
    quotes: none;
    line-height: 25px;
    padding: 5px 0;
}

.tables > h3 {
    font-size: 20px;
}

.table {
    border-collapse: collapse;
}

.table thead th {
    border-bottom: 2px solid #B1B1B1;
    text-align: left;
    color: rgba(0, 0, 0, 0.788);
    padding: 10px;
}

.table tbody td {
    text-align: left;
    color: rgba(0, 0, 0, 0.788);
    padding: 13px 10px;
    font-size: 18px;
    border-bottom: 1px solid #9c9c9cc2;
}

.table tbody td:last-child {
    font-size: 16px;
}

.table tfoot td {
    text-align: left;
    color: rgba(0, 0, 0, 0.788);
    padding: 13px 10px;
    font-size: 16px;
}

.table-border {
    border: 1px solid #9c9c9cc2;
}

.large {
    width: 112px;
    height: 59px;
    line-height: 59px;
    font-weight: bold;
    font-size: 20px;
}

.wide {
    width: 190px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons a {
    float: left;
}

.fit {
    width: 234px;
}

.opacity {
    opacity: 0.3;
}

.opacity:hover {
    background-color: #ce1b28;
}

.opacity1:hover {
    border: 1px solid #555555;
    color: #555555 !important;
    background-color: white;
}

.form {
    display: flex;
    flex-direction: column;
}

.form div {
    margin-bottom: 20px;
}

.form-control {
    background-color: #0000000c;
    border-radius: 4px;
    border: 1px solid #868686;
    padding: 0 14px;
    font-size: 18px;
    height: 47px;
}

.form-control:focus {
    outline-color: #CE1B28;
}

.select {
    width: 100%;
}

.option {
    background-color: white;
}

.input-group {
    width: 220px;
}

.form > div:first-child {
    display: flex;
    justify-content: space-between;
}

.form > :nth-child(3) {
    display: flex;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.699);
    justify-content: space-between;
}

.form label {
    line-height: 30px;
    
}

.radio {
    appearance: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #0000000c;
    border: 1px solid #ccc;
    text-align: center;
}

.radio:checked:before {
    color: white;
    content: "\2714";
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
}

.radio:checked {
    background-color: #CE1B28;
    border: 1px solid #CE1B28;
}

.radio:focus {
    box-shadow: 0 0 0 2px #CE1B28;
}

.gray {
    background-color: #ECECEC;
}

.form > .checkboxes {
    display: flex;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.699);
    justify-content: space-between;
}

.checkboxes input {
    border-radius: 4px;
}

.textarea {
    width: 100%;
    padding: 10px 13px;
    height: 168px;
}

.leftandright .para {
    line-height: 25px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.699);
}

.leftandright :nth-child(2)::before {
    content: "";
    float: left;
    width: 30px;
    display: inline-block;
    height: 50px;
}

.preformatted pre {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.041);
    width: 100%;
    overflow-x: auto;
    border: 1px solid #979797;
    border-radius: 4px;
    font-size: 13.2px;
    line-height: 30px;
}

.preformatted code {
    font-family: "Courier New", monospace;
}
/* End Section Coding */

/* Start Footer Coding */
footer {
    background-color: #111111;
    padding: 6% 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-wrap {
    width: 1130px;
    display: flex;
    justify-content: space-between;
}

.footer-wrap > div{
    width: 25%;
}

.footer-wrap > div:first-child {
    width: 40%;
}

.footer-wrap > :nth-child(2) {
    width: 30%;
}

.footer-wrap > div:last-child {
    width: 20%;
}

.footer-wrap > div > h2 {
    color: white;
    font-weight: normal;
    font-size: 20px;
}

.footer-wrap > div > p,.footer-wrap > div > span {
    color: rgba(255, 255, 255, 0.534);
    line-height: 25px;
    font-weight: normal;
    font-size: 17px;
    text-align: justify;
}

.footer-wrap > div > span {
    line-height: 33px;
}

.footer-wrap > div > a {
    color: rgba(255, 255, 255, 0.534);
    line-height: 25px;
    text-decoration: none;
    font-size: 17px;
    line-height: 29px;
    display: block;
}

.footer-wrap > div > a:hover {
    color: red;
}

.footer-wrap > div > a > i {
    width: 29px;
    height: 29px;
    background-color: black;
    color: white !important;
    text-align: center;
    line-height: 29px;
    margin-right: 15px;
}

.footer-wrap > div > hr {
    border: none;
    margin: 11px 0;
    border-bottom: 1px solid rgba(245, 245, 245, 0.295);
}

footer > hr {
    width: 1130px;
    border: none;
    border-bottom: 1px solid rgba(245, 245, 245, 0.295);
}

footer > h3 {
    color: rgba(255, 255, 255, 0.37);
    font-weight: normal;
    cursor: pointer;
}

footer > h3:hover {
    color: red;
}
/* End Footer Coding */